.base-container{
    border: 1px solid #c18ea9;
    background-color: #EAC7DA;
}

.pink-header{
    max-width:100%;
    height:2%;
    background-color: #E9ABCC;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 5px;
}
.light-pink-header{
    max-width:100%;
    height:2%;
    background-color: #EAC7DA;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 7.5px;
    margin: 0px;
    color:#9d738a;
    display: flex;
}

.light-pink-header div{
    cursor: pointer;
}
.spacer{
    width:100%;
    height:5%;
}

.title-text {
    font-size: 8px;
    margin: 0px;
    color:#9d738a
}

